/* Custom Properties */
:root {
  /* Colors */
  --primary-color: #3778c2;
  --primary-color-600: rgb(36, 89, 150);
  --secondary-color: #5fb523;
  --text-color: #555f6a;
  --white: #fff;
  --off-white: #fdfeff;
  --black: #000;
}

/* ============================================================ */

/* General Styles */
.container {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  min-width: 20rem;
  max-width: 36rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  gap: 2rem;
  min-height: 100vh;
  overflow: hidden;
}

header {
  background: var(--primary-color);
  padding: 1rem;
  color: var(--white);
}

header h2 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
}

h1 {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

.snackbar-wrapper {
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  opacity: 1;
  animation: fadeOut 1.5s ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.notice,
.alert {
  padding: 0.5rem 1rem;
  color: var(--white);
  border-radius: 2px;
  background-color: var(--white);
}

.notice {
  color: rgb(8, 153, 35);
}

.alert {
  color: rgb(163, 27, 27);
}

/* ============================================================ */

/* Buttons Styles */
.btn {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  width: 100%;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  text-align: center;
}

.btn-primary {
  color: var(--white);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-600);
}

.btn-primary:active {
  transform: translateY(3px);
}

.btn-secondary {
  color: var(--text-color);
  background: transparent;
  border: 1px solid transparent;
}

.btn-secondary:hover {
  border: 1px solid var(--text-color);
}

.btn-secondary:active {
  transform: translateY(3px);
}

.btn-link {
  color: var(--text-color);
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}

/* ============================================================ */

/* Utils */
.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-auto {
  margin-top: auto;
}

.p-1 {
  padding: 1rem;
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* ============================================================ */

/* Splash screen styles */
.splash-screen {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: auto;
}

.splash-screen .logo {
  width: 18rem;
  margin: 0 auto;
}

.buttons-wrapper,
.green-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: stretch;
  align-items: center;
}

.green-btn-wrapper {
  background-color: var(--secondary-color);
  padding: 1.5rem 1rem;
}

.green-btn {
  background-color: var(--secondary-color);
  border: 1px solid var(--white);
  color: var(--white);
  width: max-content;
}

/* ============================================================ */

/* Form Styles */

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

input {
  border: none;
  border-bottom: 1px solid var(--text-color);
  outline: none;
  color: var(--text-color);
  padding: 0.75rem 0.5rem;
  width: 100%;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field label {
  position: absolute;
  top: 0;
  left: 0.5rem;
  padding: 0.5rem;
  background: var(--white);
  transition: all 100ms ease-in;
}

/* ============================================================ */

/* Category Pages Styles */
.category-header {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.hamburger-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.category-header form {
  width: max-content;
  margin-left: auto;
}

.category-header form button {
  font-size: 0.875rem;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 0.15rem 0.75rem;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.category-header form button:hover {
  transform: scale(1.04);
}

/* ============================================================ */
